@media (min-width: 1960px) {
    .descr{
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: fit-content;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}
@media (min-width: 1200px) and (max-width: 1959px){
    .descr{
        max-width: 1955px;
        padding: 10px;
        top: 0;
        left: 0; 
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .descr{ 
        max-width: 1195px;
        padding: 10px;
        top: 0;
        left: 0; 
        max-height: fit-content;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .descr{ 
        max-width: 980px;
        padding: 10px;
        top: 15%;
        left: 0; 
        max-height: fit-content;
    }
    .carousel {
        padding: 5px;
    }
}

@media (max-width: 767px) {
    .descr{ 
        max-width: 740px;
        padding: 10px;
        top: 25%;
        left: 0;
        max-height: fit-content; 
    }
    .carousel {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .descr{ 
        max-width: 470px;
        padding: 10px;
        top: 35%;
        max-height: fit-content;
        left: 0; 
    }
    .carousel {
        padding: 6px;
    }
}


.background-hide{
    background-color:rgba(0,0,0,.7);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    display: none;
    z-index: 9;
}
.glyphicon{
    size: 10px;
    position: absolute;
    right: 1px;
    top: 1.5px;   
    cursor: pointer;
    z-index: 12;
    
}

.section-img {
    position: static;
}

.wow {
    position: static;
    padding-right: 0;
}

.row {
    position: static;
}

.container-slider {
    margin-top: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.poster{
    height:240px;
    width:320px;
    margin-bottom: 100px;
    position: static;
    cursor: pointer;
}

.descr{
    overflow-y: scroll;
    display:none;
    width: auto;
    height: 95%;
    margin: 15px;
    position: fixed;
    background:#f3f3f3;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
    z-index: 10;
}

.carousel {
    padding: 10px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,.0000)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0000)),to(rgba(0,0,0,.0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}