@media (min-width: 1200px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    .descr{ 
        max-width: 1040px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .descr{ 
        max-width: 840px;
    }
}

@media (max-width: 767px) {
    .descr{ 
        max-width: 740px;
    }
}

@media (max-width: 480px) {
    descr{ 
        max-width: 440px;
    }
}

body {
    background: white;
    
}

.glyphicon{
    size: 10px;
    position: absolute;
    right: 0;   
    cursor: pointer;
    z-index: 12;
    padding: 1.2px;
    
}

.section-img {
    position: static;
}

.wow {
    position: static;
}

.row {
    position: static;
}

.container-slider {
    margin-top: 15px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.poster{
    height:200px;
    width:310px;
    margin-bottom: 100px;
    position: static;
}

.descr{
    display:none;
    width: auto;
    height: auto;
    margin: 5px;
    position: absolute;
    padding: 5px;
    background:#f3f3f3;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

.carousel-inner {
    position: relative;
    width: 98%;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,.0000)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0000)),to(rgba(0,0,0,.0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}